<footer class="fixed bottom-0 w-full">
    <div class="borderGradiantEffect"></div>
    <div class=" flex flex-row justify-center items-center h-full bg-black px-8 py-2.5 lg:px-20 lg:py-5">
        <p>2022 © Aibyu</p>
    </div>
</footer>
<script src="/js/main.js"></script>
</body>
</html>