@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

/****************/
/* FONT FAMILY */
/***************/
@font-face {
    font-family: "hind";
    src: url("../fonts/Hind.ttf");
}

@font-face {
    font-family: "expletus";
    src: url("../fonts/ExpletusSans.ttf");
}

/**************/
/* RESPONSIVE */
/**************/

@media screen and (max-width: 767px){
    .nav-menu
    {
        @apply absolute top-16 hidden overflow-y-auto w-full
    }

    .nav-menu.active
    {
        height: calc(100vh - 4rem);
        @apply pb-4 right-0 flex bg-black
    }

    .navbar{
        z-index: 1000;
    }
}

/************************/
/* REUSABLES COMPONENTS */
/************************/

.banner
{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/bg-base.jpg") no-repeat center;

    @apply h-48 lg:h-96 w-full bg-cover relative
}

.borderGradiantEffect
{
    @apply bg-gradient-to-r from-blue via-purple to-pink p-px
}

.button-add
{
    @apply rounded-full border-2 border-blue py-1 px-7 w-full lg:w-auto lg:py-3 transition-all ease-in-out duration-300
}

.button-add:hover,
.button-edit:hover,
.button-left:hover,
.button-submit:hover
{
    @apply bg-blue transition-all ease-in-out duration-300
}

.button-edit
{
    @apply rounded-full border border-blue uppercase px-3 py-1 w-32 transition-all ease-in-out duration-300
}

.button-delete
{
    @apply rounded-full border border-pink uppercase px-3 py-1 w-32 transition-all ease-in-out duration-300
}

.button-delete:hover
{
    @apply bg-pink transition-all ease-in-out duration-300
}

.button-left
{
    @apply rounded-full border-2 border-blue py-2 px-3 uppercase text-center w-36 transition-all ease-in-out duration-300
}

.button-submit
{
    @apply cursor-pointer rounded-full border-2 border-blue py-1 text-center w-full transition-all ease-in-out duration-300
}

.event-wrapper
{
    @apply w-full h-320;
}

.event-container
{
    @apply relative rounded-md bg-black h-full
}

.event-container-black
{
    @apply relative rounded-md bg-black h-full
}

.event-container:before
{
    content: "";
    @apply absolute w-1/2 h-1/2 bg-gradient-to-r from-blue via-pink to-black -z-1 -translate-x-2 -translate-y-2 rounded-md
}

.event-container:after
{
    content: "";
    @apply absolute w-1/2 h-1/2 bg-gradient-to-l from-blue via-pink to-black -z-1 translate-x-2 translate-y-2 rounded-md right-0 top-1/2
}

.event-container-black:before
{
    content: "";
    @apply absolute w-1/2 h-1/2 bg-black -z-1 -translate-x-1 -translate-y-1 rounded-md
}

.event-container-black:after
{
    content: "";
    @apply absolute w-1/2 h-1/2 bg-black translate-x-1 translate-y-1 rounded-md right-0 top-1/2
}

/*.event-description:before*/
/*{*/
/*    @apply w-*/
/*}*/

.form-container
{
    @apply relative rounded bg-black
}

.form-wrapper
{
    @apply w-290 sm:w-520
}

.form-container:before{
    content: "";
    background: conic-gradient(transparent 20%, #2D27FF 25% 52%, transparent 53% 70%, red 75%);
    background: -webkit-linear-gradient(to right, #2D27FF, #AE20D5, #FF0A6C);
    @apply absolute w-full h-full bg-gradient-to-r from-blue via-purple to-pink -z-1 skew-x-3 rotate-2
}

.glowEffect
{
    @apply absolute inset-0 bg-gradient-to-r from-blue via-purple to-pink blur
}

h1
{
    @apply font-expletus uppercase text-base sm:text-xl lg:text-2xl
}

.h1Gradiant
{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @apply bg-gradient-to-r from-blue via-purple to-pink font-bold
}

.form-back .form-group
{
    @apply w-full lg:w-auto
}

.form-back input[type="text"]
{
    @apply bg-transparent border-2 border-blue w-full lg:w-420 py-1.5 px-2 placeholder:italic placeholder:uppercase mb-4 lg:mb-0
}

.form-back input[type="color"]
{
    @apply w-full lg:w-420 h-9 py-0 bg-transparent border-2 border-blue
}

.form-back input[type="datetime-local"],
.form-back input[type="number"],
.form-back input[type="date"],
.form-back input[type="password"]
{
    @apply bg-transparent border-2 border-blue w-full lg:w-420 py-1.5 px-2 uppercase mb-4 lg:mb-0
}

/*.form-back .inputTypeFile input[type="file"]*/
/*{*/
/*    @apply hidden*/
/*}*/

/*.form-back .inputTypeFile label*/
/*{*/
/*    @apply cursor-pointer bg-transparent border-2 border-blue w-full lg:w-auto py-1.5 px-12 uppercase rounded-full*/
/*}*/


.form-back textarea
{
    resize: none;
    @apply bg-transparent border-2 border-blue w-full h-60 py-1.5 px-2 placeholder:uppercase placeholder:italic
}

.form-back select
{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='white'%3E%3Cpath fill-rule='evenodd' d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z' clip-rule='evenodd' /%3E%3C/svg%3E");
    background-position: right;
    background-repeat: no-repeat;
    @apply bg-black border-2 border-blue w-full lg:w-420 py-1 px-2
}

.form-front input[type="text"],
.form-front input[type="date"],
.form-front input[type="password"],
.form-front select
{
    background-color: transparent;
    background-size: calc(100% + 4px) 2px;

    @apply bg-gradient-to-r from-blue via-purple to-pink bg-no-repeat bg-bottom
    outline-0
    placeholder:italic placeholder:uppercase text-sm lg:text-base
    lg:w-400 w-full
}

.form-front-user input[type="text"],
.form-front-user input[type="date"],
.form-front-user input[type="password"],
.form-front-user select
{
    background-color: transparent;
    background-size: calc(100% + 4px) 2px;

    @apply bg-gradient-to-r from-blue via-purple to-pink bg-no-repeat bg-bottom
    outline-0
    placeholder:italic placeholder:uppercase text-sm lg:text-base
    lg:w-290 xl:w-400 w-full
}

.form-front select
{
    @apply bg-black
}

.form-front input[type="checkbox"]
{
    /*-webkit-appearance: none;*/
    @apply text-blue border-2 border-white p-2
}

.form-front input[type="checkbox"]:checked
{
    @apply bg-gradient-to-r from-blue via-purple to-pink
}

.form-front .form-group,
.form-front-user .form-group
{
    @apply pb-4 lg:pb-8
}

.form-front-user #userProfilePicture .form-group
{
    @apply pb-0 pl-8
}

input[type="submit"]
{
    /*@apply relative bg-gradient-to-t from-blue-60 via-purple-60 to-pink-60*/
    /*outline-0 w-full lg:w-auto uppercase mx-auto lg:px-12 py-2 rounded-full cursor-pointer*/
    /*font-expletus text-sm lg:text-base text-center*/
    @apply font-expletus text-sm lg:text-base
}

.inputSearchBack
{
    @apply bg-transparent border-2 border-blue w-full lg:w-290 py-1 px-2 uppercase placeholder:italic
}

.form-front input[type="date"]
{
    @apply uppercase text-white
}

.form-front input[type="date"]:before,
.form-front-user input[type="date"]:before
{
    content: 'Date de naissance';
    color: #a9a9a9;
    @apply italic pr-4
}

.form-back label
{
    @apply flex uppercase pl-2 italic
}

.form-back .form-group
{
    @apply flex flex-col
}

.form-front label,
.form-search label,
.form-front-user label
{
    @apply sr-only
}

.form-search input[type="text"],
.form-search input[type="number"],
.form-search select
{
    background-color: transparent;
    background-size: calc(100% + 4px) 2px;

    @apply bg-gradient-to-r from-blue via-purple to-pink bg-no-repeat bg-bottom
    outline-0
    placeholder:italic placeholder:uppercase text-sm lg:text-base
    mb-4 lg:mb-8 w-full
}

.form-search select
{
    @apply bg-black
}

.form-search .form-group
{
    @apply w-4/5
}

.nbrParticipant-container
{

    @apply w-11.5 h-6  flex flex-row items-center absolute bg-black top-0.5 left-0.5 rounded-full justify-center
}

.nbrParticipant-wrapper
{
    @apply w-13 h-7 bg-gradient-to-r from-blue via-purple to-pink relative rounded-full
}

.passwordDisplay label
{
    @apply not-sr-only ml-2
}

small
{
    @apply italic text-red mt-2
}

.submit-front
{
    @apply cursor-pointer
}

.submit-wrapper
{
    @apply w-34 sm:w-50 mx-auto sm:mt-8 lg:mt-0
}

.submit-container,
.submit-container2
{
    @apply relative rounded
}

.submit-container:before,
.submit-container2:before
{
    content: "";
    background: conic-gradient(transparent 20%, #2D27FF 25% 52%, transparent 53% 70%, red 75%);
    background: -webkit-linear-gradient(to right, #2D27FF, #AE20D5, #FF0A6C);
    @apply absolute w-34 sm:w-50 h-full bg-gradient-to-r from-blue via-purple to-pink skew-x-125 left-0
}

.submit-container-black:hover:before
{
    @apply bg-transparent transition-all ease-in-out duration-700
}

.submit-container-black:hover
{
    @apply text-black
}

.submit-container-black
{
    @apply flex justify-center
}

.submit-container-black:before
{
    content: "";
    @apply bg-black w-30 sm:w-46 sm:h-8 h-5 absolute skew-x-125 top-0.1 lg:top-0.2 transition-all ease-in-out duration-700
}

::-webkit-calendar-picker-indicator{
    filter: invert(1);
}


/*****************************************************/
/* Used to push the footer to the bottom of the page */
/*****************************************************/
.page-wrapper {
    height: calc(100vh - 4px);
    @apply flex flex-col;

}
#maincontent {
    @apply flex-grow;
}

/*** Event ***/
.card_event{
    @apply bg-black bg-opacity-50 justify-center;
}