@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

/****************/
/* FONT FAMILY */
/***************/
@font-face {
    font-family: "hind";
    src: url("../fonts/Hind.ttf");
}

@font-face {
    font-family: "expletus";
    src: url("../fonts/ExpletusSans.ttf");
}

/**************/
/* RESPONSIVE */
/**************/

@media screen and (max-width: 767px){
    .nav-menu
    {
        @apply absolute top-16 hidden overflow-y-auto w-full
    }

    .nav-menu.active
    {
        height: calc(100vh - 4rem);
        @apply pb-4 right-0 flex bg-black
    }

    .navbar{
        z-index: 1000;
    }
}

/************************/
/* REUSABLES COMPONENTS */
/************************/

.borderGradiantEffect
{
    @apply bg-gradient-to-r from-blue via-purple to-pink p-px
}

.glowEffect
{
    @apply absolute inset-0 bg-gradient-to-r from-blue via-purple to-pink blur
}

h1
{
    @apply font-expletus uppercase text-base sm:text-xl lg:text-2xl
}

.h1Gradiant
{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @apply bg-gradient-to-r from-blue via-purple to-pink font-bold opacity-75
}

.inputFront
{
    background-color: transparent;
    background-size: calc(100% + 4px) 2px;

    @apply bg-gradient-to-r from-blue via-purple to-pink bg-no-repeat bg-bottom
    outline-0
    placeholder:italic placeholder:uppercase text-sm lg:text-base
    lg:w-300 w-full mb-6 lg:mb-14
}

input[type="submit"]
{
    @apply relative bg-gradient-to-t from-blue-60 via-purple-60 to-pink-60
    outline-0 w-full lg:w-auto uppercase mx-auto lg:px-12 py-2 rounded-full cursor-pointer
    font-expletus text-sm lg:text-base text-center
}

input[type="submit"]:hover
{
    @apply relative bg-gradient-to-t from-blue via-purple to-pink shadow-glowEffect
}

input[type="date"]
{
    @apply uppercase text-white
}

input[type="date"]:before
{
    content: 'Date de naissance';
    color: #a9a9a9;
    @apply italic pr-4
}

::-webkit-calendar-picker-indicator{
    filter: invert(1);
}

.labelFront
{
    @apply sr-only
}

/*****************************************************/
/* Used to push the footer to the bottom of the page */
/*****************************************************/
.page-wrapper {
    height: calc(100vh - 4px);
    @apply flex flex-col;

}
#maincontent {
    @apply flex-grow;
}

/***************************************************/
/*********** ANIMATE BORDER AROUND FORM ************/
/***************************************************/
.box{
    @apply w-full h-full overflow-hidden
}

.box span{
    width: calc(100% - 4rem);
    left: 2rem;
    @apply absolute top-0 h-full
}

.box span:nth-child(1)
{
    @apply rotate-0
}

.box span:nth-child(2)
{
    @apply rotate-0
}

/*.box.register span:nth-child(2)*/
/*{*/
/*    height: inherit;*/
/*    @apply rotate-270 w-24*/
/*}*/

.box span:nth-child(3)
{
    @apply rotate-180
}

/*.box.register span:nth-child(4)*/
/*{*/
/*    height: inherit;*/
/*    @apply rotate-90 w-24*/
/*}*/

/*.box span:nth-child(4)*/
/*{*/
/*    @apply rotate-90*/
/*}*/

.box span:before
{
    animation: animate 4s linear infinite;
    @apply bg-gradient-to-r from-blue via-purple to-pink w-full absolute h-0.5 content-[''] shadow-glowEffecty
}


@keyframes animate {
    0% {
        transform: scaleX(0);
        @apply origin-left;
    }
    50% {
        transform: scaleX(1);
        @apply origin-left;
    }
    50.1% {
        transform: scaleX(1);
        @apply origin-right;
    }
    100% {
        transform: scaleX(0);
        @apply origin-right;
    }
}
