</main>

<footer class="h-16">
    <div class="borderGradiantEffect"></div>
    <p class=" flex flex-row justify-center items-center h-full bg-black px-8 py-2.5 lg:px-20 lg:py-5">
        <span>2022 © Aibyu</span>
    </p>
</footer>
</div>
<script src="/js/main.js"></script>
</body>
</html>