{% extends 'base.html.twig' %}

{% block body %}

		<h1>Connectez-vous</h1>
		<form action='/login' method='POST'>
			{{ field("mail", "Email") }}
			{{ field("password", "Password") }}
			<input type='submit'/>
		</form>

{% endblock %}

