{% extends 'base.html.twig' %}

{% block body %}
	<div class="flex flex-col items-center h-full">

		<h1 class="relative pl-44 flex items-center pt-12 pb-16
            before:absolute before:w-40 before:h-0.5 before:top-1/2 before:left-0
            before:bg-gradient-to-r before:from-blue before:via-purple before:to-pink h1Gradiant">
			<span class="h1Gradiant">Connexion</span>
		</h1>

		<span class="mb-4 tex-center text-lg italic text-red">{{ message }}</span>
		<section class="form-wrapper pb-28">
			<div class="form-container">
				<form action='/login' method='POST'
					  class="form-front relative w-full flex flex-col justify-center text-center bg-black py-7 sm:py-20 px-10 sm:px-15 rounded mx-auto">
					{{ field("mail", "Email", "Adresse Email") }}
					{{ field("password", "Password"," Mot de passe","",  {type: 'password'}) }}
					<section class="submit-wrapper">
						<p class="submit-container">
							<button class="submit-container-black before:left-2">
								<input type='submit' class="relative submit-front flex uppercase py-0.5 sm:py-2 lg:px-12" value="Connexion"/>
							</button>
						</p>
					</section>
				</form>
			</div>
		</section>
	</div>
{% endblock %}

