{% extends 'base.html.twig' %}

{% block body %}
    <h1>Connectez-vous</h1>
    <form action='/connect' method='POST'>
        {% for form in formulaire %}
            {{form|raw}}
        {% endfor %}
        <input type='submit'/>
    </form>

{% endblock %}

