{% extends 'base.html.twig' %}

{% block body %}
    <h1>Enregistrez-vous</h1>
    <form action='/register-add' method='POST'>
        {% for form in formulaire %}
            {{form|raw}}
        {% endfor %}
        <input type='submit'/>
    </form>

{% endblock %}

