{% extends 'base.html.twig' %}

{% block body %}
    <section class="text-center font-expletus pt-12">
        <p class="uppercase">Erreur</p>
        <h1 class="mb-8">On dirait que vous n'avez pas les droits ...</h1>
        <a href="/" class="bg-gradient-to-t from-blue via-purple to-pink rounded-md px-3 py-px uppercase">
            Accueil
        </a>
    </section>
{% endblock %}
