{% include 'partials/header.html.twig'%}
{% block nav %}
    <nav class="pb-px uppercase bg-gradient-to-r from-blue via-purple to-pink text-sm lg:text-base font-expletus">
        <div class="relative">
            <div class="glowEffect"></div>
            <div class="glowEffect"></div>
            <div class="relative flex flex-row justify-between items-center h-full bg-black px-20 py-5 opacity-90">
                <div>
                    <p>Logo</p>
                </div>
                <ul class="flex flex-col md:flex-row divide-white divide-x-[2px] justify-center items-center text-center">
                    <li class="relative flex justify-center items-center pr-5">
                        <a href="/">Accueil</a>
                    </li>
                    <li class="relative flex justify-center items-center pr-5
                    md:before:w-0.5 md:before:h-6 md:before:mr-5
                    md:before:bg-gradient-to-b md:before:from-blue md:before:via-purple md:before:to-pink">
                        <a href="#">Evenements</a>
                    </li>
                    <li class="flex justify-center items-center pr-5
                    md:before:w-0.5 md:before:h-6 md:before:mr-5
                    md:before:bg-gradient-to-b md:before:from-blue md:before:via-purple md:before:to-pink">
                        <a href="#">Catégories</a>
                    </li>
                    <li class="flex justify-center items-center pr-5
                    md:before:w-0.5 md:before:h-6 md:before:mr-5
                    md:before:bg-gradient-to-b md:before:from-blue md:before:via-purple md:before:to-pink">
                        <a href="/login">Se connecter</a>
                    </li>
                    <li class="flex justify-center items-center pr-5
                    md:before:w-0.5 md:before:h-6 md:before:mr-5
                    md:before:bg-gradient-to-b md:before:from-blue md:before:via-purple md:before:to-pink">
                        <a href="/register">S'inscrire</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block body %}
{% endblock %}


{% include 'partials/footer.html.twig'%}