{% include 'partials/header.html.twig'%}

{% set admin = admin() %}

{% block nav %}
    <header>
        <nav class="relative navbar pb-px uppercase bg-gradient-to-r from-blue via-purple to-pink text-sm lg:text-base font-expletus h-16">
            <div class="relative h-full">
                <div class="glowEffect"></div>
                <div class="glowEffect"></div>

                <div class=" flex flex-row justify-between items-center h-full w-full bg-black px-8 py-2.5 lg:px-20 lg:py-5 opacity-90">
                    <div class="nav-logo">
                        <p>Logo</p>
                    </div>

                    <ul class="nav-menu flex flex-col space-y-12 pt-8
                    md:space-y-0 md:flex-row md:pt-0 items-center
                    ">
                        <li class="nav-item">
                            <a class="md:pr-5"
                               href="/">
                                Accueil
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="flex md:pr-5
                        md:before:w-0.5 md:before:h-6 md:before:mr-5
                        md:before:bg-gradient-to-b md:before:from-blue md:before:via-purple md:before:to-pink"
                        href="/list-event">
                            Evenements
                        </a>
                            
                        {% if admin == null %}

                        <li class="nav-item">
                            <a class="flex md:pr-5
                        md:before:w-0.5 md:before:h-6 md:before:mr-5
                        md:before:bg-gradient-to-b md:before:from-blue md:before:via-purple md:before:to-pink"



                        href="/form-login">
                            Se connecter
                        </a>
                        </li>


                        <li class="nav-item">
                            <a class="flex
                        md:before:w-0.5 md:before:h-6 md:before:mr-5
                        md:before:bg-gradient-to-b md:before:from-blue md:before:via-purple md:before:to-pink"

                        href="/form-register">
                            S'inscrire
                        </a>
                        </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="flex md:pr-5
                        md:before:w-0.5 md:before:h-6 md:before:mr-5
                        md:before:bg-gradient-to-b md:before:from-blue md:before:via-purple md:before:to-pink"

                                   href="/my-account">
                                    Mon compte
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="flex md:pr-5
                        md:before:w-0.5 md:before:h-6 md:before:mr-5
                        md:before:bg-gradient-to-b md:before:from-blue md:before:via-purple md:before:to-pink"

                                   href="/logout">
                                    Se déconnecter
                                </a>
                            </li>
                        {% endif %}

                        {% if admin == "Admin" %}
                        <li class="nav-item">
                            <a class="flex md:pr-5
                        md:before:w-0.5 md:before:h-6 md:before:mr-5
                        md:before:bg-gradient-to-b md:before:from-blue md:before:via-purple md:before:to-pink"

                               href="/admin/list-event">
                                Admin
                            </a>
                        </li>
                    </ul>
                    {% endif %}

                    <div class="hamburger-menu md:hidden">
                            <svg id="burgerMenu" xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="url(#gradiant)" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                                <defs>
                                    <linearGradient id="gradiant" x1="0%" y1="0%" x2="0%" y2="100%">
                                        <stop offset="0%" style="stop-color:rgb(255,10,108);stop-opacity:1" />
                                        <stop offset="100%" style="stop-color:rgb(45,39,255);stop-opacity:1" />
                                    </linearGradient>
                                </defs>
                            </svg>
                            <svg id="cross" xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 hidden" fill="none" viewBox="0 0 24 24" stroke="url(#gradiant2)" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                <defs>
                                    <linearGradient id="gradiant2" x1="0%" y1="0%" x2="0%" y2="100%">
                                        <stop offset="0%" style="stop-color:rgb(255,10,108);stop-opacity:1" />
                                        <stop offset="100%" style="stop-color:rgb(45,39,255);stop-opacity:1" />
                                    </linearGradient>
                                </defs>
                            </svg>
                    </div>
                </div>
            </div>
        </nav>
    </header>
<main id="maincontent">
    {% endblock %}
    {% block body %}
    {% endblock %}


{% include 'partials/footer.html.twig'%}