{% extends 'admin/base-admin.html.twig' %}

{% block body %}
    <section class="flex flex-col pt-4 pb-24">
        <h1 class="text-4xl lg:text-5xl normal-case w-full text-center pb-10">Ajouter un rôle</h1>
        <form action='/admin/create-role' method='POST'
              class="flex flex-col lg:flex-row form-back px-4 lg:px-0 lg:mx-auto lg:space-x-16">
            {{ field("title", "Nom du Rôle", "Nom du Rôle", "") }}
            <input type='submit' class="button-submit uppercase text-base text-center w-full lg:w-40 lg:mt-5" value="Modifier"/>
        </form>
    </section>
{% endblock %}